In [1]:
import pandas as pd

In [2]:
LDT_s1 = pd.read_csv('LDT_s1_correlation_matrix_renamed.csv')
LDT_s2 = pd.read_csv('LDT_s2_correlation_matrix_renamed.csv')
RMT_s1 = pd.read_csv('RMT_s1_correlation_matrix_renamed.csv')
RMT_s2 = pd.read_csv('RMT_s1_correlation_matrix_renamed.csv')

In [3]:
sum=LDT_s1+LDT_s2+RMT_s1+RMT_s2
sum['Unnamed: 0'] = LDT_s1['Unnamed: 0']
ave=sum.loc[:,sum.columns != 'Unnamed: 0']/4
idx = 0 
ave.insert(loc=idx, column='par', value=LDT_s1['Unnamed: 0'])

In [4]:
ave

,par,v1,v2,zr,a,ndt,sndt,alpha,alpha_arc_box,mean_log_rt,acc_arc_box
0,v1,NaN,-0.524649,-0.294224,0.075561,-0.196628,-0.304464,0.093993,0.106241,-0.471081,0.583723
1,v2,-0.524649,NaN,-0.075480,-0.219431,0.289482,0.377352,0.100643,0.150576,0.332718,-0.734737
2,zr,-0.294224,-0.075480,NaN,-0.074412,0.035619,0.217244,0.088992,0.066969,0.008183,-0.162515
3,a,0.075561,-0.219431,-0.074412,NaN,-0.078039,-0.460344,0.436434,0.447074,0.693115,0.730658
4,ndt,-0.196628,0.289482,0.035619,-0.078039,NaN,0.362287,0.092067,0.174782,0.571127,-0.302393
5,sndt,-0.304464,0.377352,0.217244,-0.460344,0.362287,NaN,-0.301226,-0.319577,-0.002013,-0.648171
6,alpha,0.093993,0.100643,0.088992,0.436434,0.092067,-0.301226,NaN,0.953023,0.386340,0.258362
7,alpha_arc_box,0.106241,0.150576,0.066969,0.447074,0.174782,-0.319577,0.953023,NaN,0.417463,0.274078
8,mean_log_rt,-0.471081,0.332718,0.008183,0.693115,0.571127,-0.002013,0.386340,0.417463,NaN,0.092688
9,acc_arc_box,0.583723,-0.734737,-0.162515,0.730658,-0.302393,-0.648171,0.258362,0.274078,0.092688,NaN

In [5]:
ave = ave.fillna(1)

In [6]:
ave= ave.round(3)

In [7]:
ave.to_csv('average_distinct_correlation_across_4_data_study1.csv')

In [3]:
import pandas as pd 
LDT_s1 = pd.read_csv('LDT_s1_correlation_matrix_renamed.csv')
LDT_s2 = pd.read_csv('LDT_s2_correlation_matrix_renamed.csv')

In [4]:
sum=LDT_s1+LDT_s2
sum['Unnamed: 0'] = LDT_s1['Unnamed: 0']
ave=sum.loc[:,sum.columns != 'Unnamed: 0']/2
idx = 0 
ave.insert(loc=idx, column='par', value=LDT_s1['Unnamed: 0'])
ave = ave.fillna(1)
ave= ave.round(3)

In [5]:
ave.to_csv('average_distinct_correlation_across_2_data_study1_LDT.csv')

In [6]:
import pandas as pd 
RMT_s1 = pd.read_csv('RMT_s1_correlation_matrix_renamed.csv')
RMT_s2 = pd.read_csv('RMT_s1_correlation_matrix_renamed.csv')

In [7]:
sum=RMT_s1+RMT_s2
sum['Unnamed: 0'] = LDT_s1['Unnamed: 0']
ave=sum.loc[:,sum.columns != 'Unnamed: 0']/2
idx = 0 
ave.insert(loc=idx, column='par', value=LDT_s1['Unnamed: 0'])
ave = ave.fillna(1)
ave= ave.round(3)

In [8]:
ave.to_csv('average_distinct_correlation_across_2_data_study1_RMT.csv')