In [1]:
import pandas as pd

In [2]:
apt_s1 = pd.read_csv('EZ_Distinct_APT_s1_correlation_matrix.csv')
apt_s2 = pd.read_csv('EZ_Distinct_APT_s2_correlation_matrix.csv')
apt_s1

,Unnamed: 0,v1,v2,v3,v4,a,ndt1,ndt2,ndt3,ndt4,alpha,mean_log_rt,alpha_arc_box,acc_arc_box
0,v1,NaN,0.848477,-0.631888,-0.675178,0.269736,0.324467,0.101243,0.100993,0.142484,0.414551,-0.115662,0.403840,0.766272
1,v2,0.848477,NaN,-0.688431,-0.703458,0.225025,0.060546,0.104326,-0.003055,0.040029,0.302446,-0.216125,0.285484,0.668938
2,v3,-0.631888,-0.688431,NaN,0.793932,-0.086437,0.078969,0.133963,0.083112,0.068016,-0.115308,0.391248,-0.083587,-0.481958
3,v4,-0.675178,-0.703458,0.793932,NaN,-0.273319,0.022972,0.100387,0.134683,0.002058,-0.285824,0.219893,-0.252349,-0.622935
4,a,0.269736,0.225025,-0.086437,-0.273319,NaN,0.226976,0.341073,0.087999,0.167014,0.631251,0.760202,0.643654,0.724519
5,ndt1,0.324467,0.060546,0.078969,0.022972,0.226976,NaN,0.832909,0.790869,0.757378,0.598861,0.578109,0.533995,0.481829
6,ndt2,0.101243,0.104326,0.133963,0.100387,0.341073,0.832909,NaN,0.774625,0.757145,0.460787,0.679533,0.423275,0.353595
7,ndt3,0.100993,-0.003055,0.083112,0.134683,0.087999,0.790869,0.774625,NaN,0.872391,0.322731,0.480952,0.286055,0.200518
8,ndt4,0.142484,0.040029,0.068016,0.002058,0.167014,0.757378,0.757145,0.872391,NaN,0.424823,0.516659,0.380115,0.349619
9,alpha,0.414551,0.302446,-0.115308,-0.285824,0.631251,0.598861,0.460787,0.322731,0.424823,NaN,0.537345,0.975411,0.779166
10,mean_log_rt,-0.115662,-0.216125,0.391248,0.219893,0.760202,0.578109,0.679533,0.480952,0.516659,0.537345,NaN,0.546746,0.417856
11,alpha_arc_box,0.403840,0.285484,-0.083587,-0.252349,0.643654,0.533995,0.423275,0.286055,0.380115,0.975411,0.546746,NaN,0.786534
12,acc_arc_box,0.766272,0.668938,-0.481958,-0.622935,0.724519,0.481829,0.353595,0.200518,0.349619,0.779166,0.417856,0.786534,NaN

In [3]:
sum=apt_s1+apt_s2
sum['Unnamed: 0'] = apt_s1['Unnamed: 0']
ave=sum.loc[:,sum.columns != 'Unnamed: 0']/2
idx = 0 
ave.insert(loc=idx, column='par', value=apt_s1['Unnamed: 0'])

In [4]:
ave

,par,v1,v2,v3,v4,a,ndt1,ndt2,ndt3,ndt4,alpha,mean_log_rt,alpha_arc_box,acc_arc_box
0,v1,NaN,0.848477,-0.631888,-0.675178,0.269736,0.324467,0.101243,0.100993,0.142484,0.414551,-0.115662,0.403840,0.766272
1,v2,0.848477,NaN,-0.688431,-0.703458,0.225025,0.060546,0.104326,-0.003055,0.040029,0.302446,-0.216125,0.285484,0.668938
2,v3,-0.631888,-0.688431,NaN,0.793932,-0.086437,0.078969,0.133963,0.083112,0.068016,-0.115308,0.391248,-0.083587,-0.481958
3,v4,-0.675178,-0.703458,0.793932,NaN,-0.273319,0.022972,0.100387,0.134683,0.002058,-0.285824,0.219893,-0.252349,-0.622935
4,a,0.269736,0.225025,-0.086437,-0.273319,NaN,0.226976,0.341073,0.087999,0.167014,0.631251,0.760202,0.643654,0.724519
5,ndt1,0.324467,0.060546,0.078969,0.022972,0.226976,NaN,0.832909,0.790869,0.757378,0.598861,0.578109,0.533995,0.481829
6,ndt2,0.101243,0.104326,0.133963,0.100387,0.341073,0.832909,NaN,0.774625,0.757145,0.460787,0.679533,0.423275,0.353595
7,ndt3,0.100993,-0.003055,0.083112,0.134683,0.087999,0.790869,0.774625,NaN,0.872391,0.322731,0.480952,0.286055,0.200518
8,ndt4,0.142484,0.040029,0.068016,0.002058,0.167014,0.757378,0.757145,0.872391,NaN,0.424823,0.516659,0.380115,0.349619
9,alpha,0.414551,0.302446,-0.115308,-0.285824,0.631251,0.598861,0.460787,0.322731,0.424823,NaN,0.537345,0.975411,0.779166
10,mean_log_rt,-0.115662,-0.216125,0.391248,0.219893,0.760202,0.578109,0.679533,0.480952,0.516659,0.537345,NaN,0.546746,0.417856
11,alpha_arc_box,0.403840,0.285484,-0.083587,-0.252349,0.643654,0.533995,0.423275,0.286055,0.380115,0.975411,0.546746,NaN,0.786534
12,acc_arc_box,0.766272,0.668938,-0.481958,-0.622935,0.724519,0.481829,0.353595,0.200518,0.349619,0.779166,0.417856,0.786534,NaN

In [5]:
ave = ave.fillna(1)
ave= ave.round(3)

ave.to_csv('EZ_Study_2_average_distinct_correlation_across_2_data.csv')